@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lexend);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend), sans-serif;
}

@keyframes shimmer {
  100% { transform: translateX(200%); }
}
